<div class="container mt-3">

  <div class="container search-bar row justify-content-between" id="search-bar">   
    
    <div class="search-bar-outer col-md-5 col-sm-12 mt-1 mb-1">
      <div class="search-bar-inner">
        <form action="/search">
          <h4 class="mb-2">尋找餐廳：</h4>
          <div class="input-group">
            <div class="input-group-append">
              <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
            </div>
            <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳名稱" aria-label="Restaurant Name..."
              value="{{keyword}}" aria-describedby="search-button">
          </div>
        </form>
      </div>
    </div>
    
    <div class="col-md-6 col-sm-12 mt-2" >
      <!-- <select class="form-control w-100 float-right" onchange="window.location.href=this.value;">
        <option selected>排列順序(依左至右)</option>
        <option value="/sort/name?order=asc">依店名字母順序/筆畫遞增</option>
        <option value="/sort/name?order=desc">依店名字母順序/筆畫遞減</option>
        <option value="/sort/category?order=asc">依類別字母順序/筆畫遞增</option>
        <option value="/sort/category?order=desc">依類別字母順序/筆畫遞減</option>
        <option value="/sort/location?order=asc">依地區字母順序/筆畫遞增</option>
        <option value="/sort/location?order=desc">依地區字母順序/筆畫遞減</option>
      </select> -->
      <select class="form-control w-100 float-right" onchange="window.location.href=this.value;">
        <option selected>排列順序(依左至右)</option>
        <option value="/sort?order=asc&filter=name">依店名字母順序/筆畫遞增</option>
        <option value="/sort?order=desc&filter=name">依店名字母順序/筆畫遞減</option>
        <option value="/sort?order=asc&filter=category">依類別字母順序/筆畫遞增</option>
        <option value="/sort?order=desc&filter=category">依類別字母順序/筆畫遞減</option>
        <option value="/sort?order=asc&filter=location">依地區字母順序/筆畫遞增</option>
        <option value="/sort?order=desc&filter=location">依地區字母順序/筆畫遞減</option>
      </select
      <!-- <select class="form-control w-100 float-right" onchange="window.location.href=this.value;">
      {{#each sortTypes}}
        <option value="/?sortType={{@key}}">{{this.display}}</option>
      {{/each}}
      </select>
      <div class="mt-5">
        <a href="/restaurants/" class="btn btn-primary rounded p-2 col-6">回到預設排序畫面</a>
        <a href="/restaurants/new" class="btn btn-success rounded p-2 float-right col-5">新增店家</a>
      </div> 
    </div>
    
   
    
  </div>  
 
  <!-- restaurant list -->
  <div class="container mt-2">
    <div class="row" id="data-panel">
      <div class="mx-auto">
        <div class="card-columns">
          {{!-- loop  --}}
          {{#each restaurantinfos}}
          <a href="/restaurants/{{this.id}}" class="text-secondary">
            <div class="card mb-0 mt-5">
              <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
              <div class="card-body p-3">
                <h7 class="card-title mb-1">{{this.name}}</h7>

                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2"></i> {{this.category}}
                </div>

                <span class="badge badge-pill badge-danger font-weight-normal">
                  {{this.rating}}
                  <i class="fas fa-star fa-xs"></i>
                </span>

              </div>
              <div class="float-right ml-3">
                <a href="/restaurants/{{{this.id}}}/edit" class="btn border">編輯</a>
                <a href="/restaurants/{{{this.id}}}" class="btn btn-info border">檢視</a>
                <form action="/restaurants/{{{this.id}}}/delete?_method=DELETE" method="POST" style="display: inline;">
                  <button type="submit" class="border btn btn-danger" onclick="if(confirm('確定刪除？')) return true; else return false">刪除</button>
                </form>
              </div>
            </div>
          </a>
          {{/each}}

        </div>
      </div>
    </div>
  </div>

</div>